{{ define "content" }}
<div class="blog-single-container">
    <!-- 侧边栏：目录层级 -->
    <aside class="sidebar-toc">
        {{ partial "blog/sidebar-tree.html" . }}
        <hr class="sidebar-divider">
        <div class="toc-title">本文大纲</div>
        {{ .TableOfContents }}
    </aside>

    <article class="blog-single">
        <header class="blog-title">
            <h1>{{ .Title }}</h1>
        </header>

        {{ partial "blog/meta.html" . }}

        <section class="blog-content">
            {{ .Content }}
        </section>

        {{ partial "blog/series.html" . }}
        {{ partial "common/utteranc.html" . }}
        {{ partial "common/giscus.html" . }}
    </article>
</div>
{{ end }}
