<nav class="navigation">
    <section class="container">
        <div class="nav-left">
            <a class="navigation-brand" href="{{ .Site.BaseURL | relLangURL }}">
                <span class="brand-text">{{ .Site.Params.brand }}</span>
            </a>
        </div>
        
        <div class="nav-right">
            {{ if .Site.Menus.main }}
            <ul class="navigation-list" id="navigation-list">
                {{ range .Site.Menus.main }}
                <li class="navigation-item">
                    <a class="navigation-link {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                
                <li class="menu-separator"></li>


                {{ if .Site.Params.options.showDarkMode }}
                <li class="navigation-item">
                    <button id="mode" class="mode-toggle" type="button" aria-label="Toggle dark mode">
                        <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
                        <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
                    </button>
                </li>
                {{ end }}
            </ul>
            {{ end }}
            
            <input type="checkbox" id="menu-toggle" />
            <label class="menu-button" for="menu-toggle">
                <span></span><span></span><span></span>
            </label>
        </div>
    </section>
</nav>
